<% include ./partials/header.ejs%>
<% include ./partials/nav.ejs%>
    <div class="profile w-full text-white min-h-screen bg-zinc-800 pt-1">
        <form hidden id="uploadForm" action="/fileupload" method="post" enctype="multipart/form-data">
            <input type="file" name="image">
        </form>
        <div class="profDetails flex flex-col items-center gap-1 mt-20 justify-center">
            <div class="relative">
                <span id="uploadImg" class="cursor-pointer w-10 h-10 absolute bottom-0 right-0 rounded-full flex items-center justify-center bg-zinc-200 text-black text-xl">
                    <i class="ri-pencil-fill"></i>
                </span>
                <div class="w-32 h-32 bg-zinc-200 rounded-full overflow-hidden">
                    <img class="w-full h-full object-cover" src="/images/uploads/<%=user.profileImage %>" alt="sorry!">
                </div>
            </div>
            <h1 class="text-3xl font-semibold mt-2"><%= user.name %></h1>
            <h3 class="text-md">@<%= user.username %></h3>
            <a href="/edit" class="px-7 py-2 mt-4 font-semibold bg-zinc-700 rounded-full text-xs">Edit</a>
            <a href="/add" class="px-10 py-2 rounded-lg bg-red-700 text-xs font-semibold mt-2 ">Add New Post</a>
        </div>
        <div class="cards flex px-10 flex-wrap gap-10 mt-3">
            <hr class="w-full text-white">
            <% if(user.posts.length > 0){ %>
            <div class="cardT mt-5 mb-5">
                <div class="w-52 h-40 bg-zinc-200 rounded-md overflow-hidden">
                    <img class="w-full h-full object-cover" src="/images/uploads/<%=user.posts[0].image %>" alt="">
                </div>
                <a class="inline-block text-xl font-semibold mt-2" href="/show/posts" >Your Uploaded Pins</a>
                <h5 class="text-sm font-medium opacity-80"><%= user.posts.length %> Pins</h5>
            </div>
            <% } else{ %>
                <h1 class="w-full mt-5 text-center text-5xl">!No Data Yet!</h1>
            <% } %>
        </div>
    </div>

    <script>
        document.querySelector('#uploadImg').addEventListener('click',()=>{
            document.querySelector('#uploadForm input').click();
        })

        document.querySelector('#uploadForm input').addEventListener('change',()=>{
            document.querySelector('#uploadForm').submit();
        })
    </script>
<% include ./partials/footer.ejs%>